<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Entreprise</th>
      <th scope="col">Intitulé de l'offre</th>
      <th scope="col">Nom du contact</th>
      <th scope="col">Mail du contact</th>
      <th scope="col">Réponse</th>
    </tr>
  </thead>
  <tbody>
    {% if offres %}
      {% for offre in offres%}
        <tr>
          <th scope="row">{{ offre.date }}</th>
          <td>{{ offre.entreprise }}</td>
          <td>{{ offre.intitule }}</td>
          <td>{{ offre.nom_contact }}</td>
          <td>{{ offre.mail_contact }}</td>
          <td>{{ offre.reponse }}</td>
          <td><a href="{{ path('mesoffres.delete', {'numero': offre.nid}) }}" class="btn btn-danger">Supprimer</a></td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td>Aucune offre n'a été trouvée</td>
      </tr>
    {% endif %}
  </tbody>
</table>
<div class="paginator text-align-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#" disabled>Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#" disabled>Next</a></li>
    </ul>
  </nav>
</div>
<div class="buttons text-align-right">
  <a href="{{ path('mesoffres.ajout') }}" class="ajouter btn btn-success"><span class="glyphicon glyphicon-plus"></span>Ajouter une offre</a>
  <a href="#" class="exporter btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>Exporter au format Excel</a>
</div>
